html, body {
  font-size: 16px;
  font-family: Manrope, sans-serif;
  color: #1E1B1B;
  line-height: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
}

/* --------------------------header----------------------------------- */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header__top {
  display: flex;
  margin-top: 35px;
  flex-wrap: nowrap;
}
.header__top-inner {
  display: flex;
  align-items: center;
}
.header__top-logo {
}
.logo {
  margin-right: 454.59px;
  transition: all .3s;
}
.logo:hover {
  transform: scale(1.05);
}
.header__inner {
  display: flex;
  margin-right: 32px;
}
.header__menu {
  margin-right: 40px;
  transition: all .3s;
}
.header__menu:last-child {
  margin-right: 0;
  padding-right: 0px;
}
.header__nav:hover {
  color: #FF6433;
}
.header__nav {
  color: #1E1B1B;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.header-inner {
}
.header__element {
  justify-content: center;
  border: 1px solid rgba(147, 145, 145, 0.303);
  height: 32px;
}
.header__inner-room {
}
.header__phone {
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}
.header__phone:hover {
  transform: scale(1.05);
}
.header__icons {
  padding: 18px 0 16px 0;
}
.icons {
  margin: 0 14px 0 15px;
}
.header__number {
  display: inline-block;
  justify-content: space-around;
  white-space: nowrap;
}
.header__text {
  height: 100%;
}
.text {
  color: rgba(30, 27, 27, 0.513);
}
.header__text-number {
  line-height: 28px;
  display: inline-block;
  justify-content: space-around;
  white-space: nowrap;
}
.number {
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%
}

/* ---------------------------header__body------------------------------------ */

.header__body {
  display: flex;
}

.header__content {
 margin-top: 162px;
}
.header__content-inner {
}
.header__inner-title {
}
.header__title {
  font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 84px;
}
.header__inner-button {
  display: inline-flex;
  align-items: center;
}
.header__content-buttons {
  padding-top: 32px;
  transition:all 0.3s;
}
.header__content-btn {
  border-radius: 12px;
  background-color: #FF6433;
  padding: 16px 40px;
  color: #FFFFFF;

}

.header__content-buttons:hover {
  transform: scale(1.03);
}

.header__inner-play {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  border-color: #FF6433;
  border-radius: 12px;
  margin-right: 8px;
  fill: none;
}
.header__play {
  display: inline-flex;
  margin-left: 17px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header__play:hover svg {
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 0 0px 8px rgba(184, 181, 181, 0.419);
}

.heador__svg {
  display: inline-flex;
  margin-right: 8px;
}
.header__btn-time {
}
.header__inner-time {
    display: inline-flex;
  margin: 40px 0 233px 0px;
}
.header__time {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 13px;
}
.header__inner-tims {
}
.header__inner-timetable {
  color: rgba(30, 27, 27, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}
.open {
  color: rgba(147, 145, 145, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header__content-2 {
  margin-left: 21px;
  margin-top:80px ;
}
.header__img {
  position: relative;
  width: 605px;
  height: 632px;
  background-image: url(../images/Pictures/Image.jpg);
  background-repeat: repeat-x;
  align-items: center;
}
.header__inner-time--btn {
}
.header__img-time {
  display: inline-flex;
}
.header__shell-time {
  display: inline-flex;
  position: absolute;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  width: 281.64px;
  height: 102px;
  margin-top: 81px;
  margin-left: -20px;
  border-radius: 59px;
  padding: 15px 198.4px 17px 13.93px;
  transition: 0.3s;
}

.header__shell-time:hover {
  box-shadow: 0 0 0px 10px rgba(184, 181, 181, 0.419);
}

.header__timme {
  width: 150px;
  background-color: #5CBA99;
  border-radius: 50%;
}

.timme{
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  flex-direction: wrap;
  margin-left: 17px;
  width: 37.77px;
  height: 64px;
  margin-right: 14px;
  font-weight: 600;
  font-size: 24px;
}

.timme-hr {
  text-align: center;
  margin-left: 2.99px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.header__text-description {
  display: flex;
  align-items: center;
  flex-direction: wrap;
}
.header__description {
  align-content: center;
  text-align: center;
  margin: 15px 0.36px 1px 14.41px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  width: 165px;
  height: 51px;
}
.header__inner-rateYo {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 450px;
}
.header__Effect-rateYo {
  position: absolute;
  background-color: #fff;
  width: 326px;
  height: 102px;
  border-radius: 59px;
  margin: 0px -20px 0px 299px;
  transition: 0.3s;
}

.header__Effect-rateYo:hover{
  box-shadow: 0 0 0px 10px rgba(184, 181, 181, 0.419);
}

.header__rateYo-rating {
  position: absolute;
  margin: 25px 150px 4px 38px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.header__rateYo-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: -10px;
}

.header-oYet{
  display: flex;
  margin-top: 30px;
  margin-left: 90px;
  justify-content: center;
} 
/* ====================================main__about======================================*/
/* ====================================main__about======================================*/

.main{
}

.main__about {
  
  background-color: #f1f1f1;

  
}

.about_inner {
  padding-top: 128px;
}
.about__heading {
  
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
}
.about__subtitle {
  
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
margin-bottom: 8px;
}
.about__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
}
.about__service {
  display: grid;
  min-width: 1288px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 32px;
}
.about__items {
  background-color: #ffffff;
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 103px;
  margin-right: 8px;
  margin-bottom: 8px;
 

  transition: all .5s;
}

.about__items:hover {
  background-color: #FF6433;
  color: rgb(246, 239, 239);
}

.about__items:hover.about__items svg path {
  fill: #f8f8f8;
}

.about__icons {
}
.about__desc {
  display: flex;
  white-space: nowrap
}
.icons {
}
.about__Learn {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  margin-top: 32px;
  margin-bottom:128px ;
}
.about__Learn-about {
  
  display: flex;
  padding: 10px;
  width: 248px;
  transition: all 0.3s;
  border-radius: .7em;
  margin-bottom: 128px;
}

.about__Learn-about:hover {
  background-color: #FF6433;
  color: rgb(248, 246, 246);
}

.about__Learn-about:hover.about__Learn-about svg path {
  fill: rgb(248, 246, 246);
}

.about__learn-text {
  margin-right: 16px;
}
.about__arrow {
  margin-top: 4px;
  justify-content: center;
  align-items: center;
}

/* ========================main__direction=================================== */
/* ========================main__direction=================================== */

.main__direction {
  background-color: #fdfbfb;
  margin:134px 0px 134px 0px ;
}
.direction__block{
  display: flex;
}
.direction__content {
  margin-right: 13px;
}
.direction__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.direction__follow-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #1E1B1B;
}
.direction__follow-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgb(30, 27, 27, 0.6);
  margin-right: 205px;
  margin-top: 16px;
}
.direction__buttons {
  margin-top: 32px;
  margin-bottom: 265px;
  transition: all 0.3s;
}
.buttons {
  border-radius: 12px;
  background-color: #FF6433;
  font-weight: 600;
  font-size: 18px;
  line-height: 17%;
  padding: 16px 40px;
  color: #FFFFFF;
}

.direction__buttons:hover {
  transform: scale(1.03);

}

.direction__content-2 {
  
  display: flex;
  flex-direction: column;
  margin-right: 193px;
}
.direction__inner-2 {
display: flex;
  
}
.direction__number-sentence {
}
.direction__img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.direction__number {
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #FFFFFF;
}
.direction__line {
  display: flex;
  justify-content: center;
  margin: 22px 0px;
}
.direction__title-service {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 24px;
}

.service{
  margin-top: 13px;
}

.direction__service {
}
.direction__title {
  font-style: normal;
  white-space: nowrap;
font-weight: 700;
font-size: 32px;
line-height: 48px;
}
.direction__desc {
  display: flex;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: rgb(30, 27, 27, 0.6);
}

.desc {
  margin-bottom: 134px;
}

/* ===============================main__derection-link================================ */
/* ===============================main__derection-link================================ */


.main__derection-link {
  width: 100%;
  height: 502px;
  background-image: url(../images/Pictures/Group\ 9128.jpg);
  background-repeat: repeat-x;
}
.link {
  
}
.link__description-cta {
  background: #FF6433;
  width:729px 
}
.link__cta {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 502px;
  text-align: center;
  justify-content: center;
}
.link__service-title {
  color: #FFFFFF;
  flex-direction: wrap;
  text-align: left;
  padding: 0 60px;
  font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.link__contact-us {
  position:relative ;
  margin: 48px 0 128px 0;
  color: #FFFFFF;
  margin-left: 61px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  transition: all 0.3s;

}
.link__contact-us:hover {
  transform: scale(1.03);
}
.link__contact {
  border-radius: 12px;
  background: #1E1B1B;
  padding: 16px 40px;
  position: absolute;
  flex-wrap: nowrap;
  margin-bottom: 128px;
}

/* ========================main__derection-room========================== */
/* ========================main__derection-room========================== */

.main__derection-room {
  background-color: #fff;
}
.room__content {
  display: flex;
}
.room__number-1 {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-right: 186px;
}
.number-1 {
  justify-content: space-between;
  
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #661CE7;
}
.room__pro-desc {
  white-space: nowrap;

  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  opacity: 0.7;
}

/* ========================main__derection-brands========================== */
/* ========================main__derection-brands========================== */

.main__derection-brands {
  background-color:#E2E6E9;
}
.brands {
}

.brands__inner {
}
.brands__derection-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.brands__title {
  margin-top: 128px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  margin-bottom: 31px;
}
.brands__link-svg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  padding-bottom: 82px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 79px;
}
.brands__svg {
}
.logo1:hover.logo1 svg path{
  fill:#661CE7;
}
.logo2:hover.logo2 svg path{
  fill:#19c24c;
}
.logo3:hover.logo3 svg path{
  fill:#f306cc;
}
.logo4:hover.logo4 svg path{
  fill:#1ca3e7;
}
.logo5:hover.logo5 svg path{
  fill:#e7601c;
}
.logo6:hover.logo6 svg path{
  fill:#e79d1c;
}
.logo7:hover.logo7 svg path{
  fill:#b8e71c;
}
.logo8:hover.logo8 svg path{
  fill:#e71c1c;
}
.logo9:hover.logo9 svg path{
  fill:#1ce76d;
}
.logo10:hover.logo10 svg path{
  fill:#b1e71c;
}

/* ==========================фильтр MIXITUP====================== */
/* ==========================main__derection-slider====================== */
/* ==========================main__derection-slider====================== */

.main__derection-slider {
}
.slider {
}

.slider__blog {
  margin-top: 120px;
}
.slider__inner {
  margin-bottom: 138px;
  display: flex;
    flex-direction: column;
}
.slider__body {
  display: flex;
  align-items: center;
}
.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
}
.slider__filter-box {
  display: flex; 
}
.slider__list-items {
}
.mix {
}
.slider__filter-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 30px 8px;
  background-color: transparent;
  transition: all .3s;
}

.slider__filter-btn:focus{
  color: #e7601c;
}
.slider__filter-btn:hover{
  color: #e7601c;
}

.slider__transition {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 64px;
}
.slider__last {
}
.slider__filter-btn--latest {
}
.slider__list-conteant {
  transition: all 1s;
}
.slider__list-conteant:hover {
  transform: scale(1.03);
  transition: all .3s;
  box-shadow: 10px 10px 5px rgb(97, 97, 97);
}
.slider__list-link {
  box-shadow: 10px 5px 5px red;
}
.slider__list-link:hover {
  box-shadow: 10px 5px 5px red;
}
.slider__imeg-box {
}
.slider__imeg {
}
.slider__posted {
  color: #939191;
  font-style: normal;
  font-weight: 600;
font-size: 16px;
line-height: 28px;
margin: 24px 0px 16px 0px ;
}
.slider__blog-list {
}
.slider__blog-link {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
margin-bottom: 16px;
}
.slider__desc {
}
.slider__list-desc {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.slider__filter-btn--popular {
}
.slider__block-car {
}
.slider__filter-btn--favorites {
}
.slider_imeg-box {
}
.imeg-box {
  width: 405px;
  height: 266px;
}
.slider__blog-desc {
}

/* ==========================слайдер SLICKSLIDER====================== */
/* ==========================main__derection-clients slider====================== */
/* ==========================main__derection-clients slider====================== */

.main__clients {
  background: #F2F2F2;
}
.clisents__block {
  position: relative;
  padding-bottom: 128px;
}

.clients__title {
  padding-top: 128px;
  text-align: center;
}
.clients__title-text {
  margin: 76px 185px;
  font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
}
.clisents__inner-uzer {
}
.clients__slider {
  margin-right: 48px ;
}
.clients__slide {
  border-radius: 6px;
  margin-right: 48px;
  background: #FFFFFF;
border: 1px solid rgba(172, 172, 172, 0.29);
  padding: 50px;
}


.clients__slide-inner{
  
  margin-right: 48px;
}

.slide{
  margin-right: 48px;
}

.clients__user-avatar {
}

.clients__user-inner{
  display: flex;
  margin-bottom: 24px;
}

.avatar{

}

.clients__avatar {
  margin-right: 16px;
}
.clients__name-location {
}
.clients__name {
  font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
}
.clients__location {
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #939191;
}
.clients__user-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

/* ============= */
.clients__dots{
  background-color: transparent;
  
}
.slick-dots.slick-dots{
  display: flex;
  justify-content: center;
}

.slick-dots li  {
  margin-top: 50px ;
  margin-right:2px ;
  list-style: none;
  padding: 20px 30px;
  background-color: #F2F2F2;
}

.slick-dots button {
  font-size: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 30px;
  height: 5px;

  background-color: rgb(204, 199, 199);
}

.slick-dots .slick-active{
  background-color:#F2F2F2;

}

.slick-active{

}

.slick-active button {
  
}
.slick-dots .slick-active button{
  border-radius: 25px;
  background-color: #e46802;
  transition: all 0.3s;
}

/* ============= */

.clients__inner-points {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
}
.clients__points {
  display: flex;
  width: 50px;
  height: 25px;
}
.active {
}

.clients__slide-arrows {
  position: absolute;
  display: flex;
  margin: -45px 0px 0px 84%;

}

.clients__slide-arrow{
  border-radius: 50%;
  background-color: #E2E6E9;
  padding: 12px;
  margin-right: 15px;
  transition: 1s;
}

.clients__slide-arrow:hover{
  border-radius: 50%;
  background-color: rgb(5, 5, 5);
  transition: 0.3s;
  transform: scale(1.3);
}

.clients__slide-arrow:hover.clients__slide-arrow svg path{ 
  fill: #ffffff;
  transition: 0.3s;
}

/* ==========================Реализация аккордиона====================== */
/* ==========================main__accordion====================== */
/* ==========================main__accordion====================== */


.main__accordion {
  background: #E2E6E9;
}

.accordion__inner {
  padding: 0 192px ;
}
.accordion__conteant-title {
  padding-top: 128px;
  margin-bottom: 126px;
}
.accordion__conteant-question{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.accordion__title {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
}
.accordion__conteant-shell {
  min-width: 896px;
  padding-bottom: 128px;
}
.accordion__conteant {
  background: #FFFFFF;
  margin-bottom: 12px;
  padding: 40px;
  margin: 0 auto 12px auto;
}
.accordion__conteant-link{
  display: block;
  padding-left: 40px;
}

.accordion__conteant-link{

}

.accordion__conteant:last-child {
  margin-bottom: 0px;
}
.accordion__conteant-question {
}
.accordion__question {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.accordion__question span{
  display: block;
  margin-top: -6%;
  width: 50px;
  height: 50px;
  margin-left: 90%;
  background-color: #ff6433;
  border-radius: 2px;
  position: relative;
}

.accordion__question span::before,
.accordion__question span::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 31%;
    width: 18px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    border-radius: 2px;
}

.accordion__question {
  flex-direction: column;

  justify-content: center;
}

.accordion__question span::after{
  transform: rotate(90deg);
  transition: all .3s;
}

.accordion__text {
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #939191;
}

.accordion__conteant-link--active .accordion__question span::after{
  transform: rotate(0deg);
}

/* ==========================Обратная связь====================== */
/* ==========================main__feedback feedback====================== */
/* ==========================main__feedback feedback====================== */


.main__feedback {
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 121px;

}
.feedback__conteant {
  margin-right: 141px;

}
.feedback__title {
  margin-bottom: 48px;
  font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 84px;
}
.feedback__form {
}
.feedback__form-label {
  display: block;
}
.feedback__form-shell{
  background: #F2F2F2;
    border-radius: 2px;
    margin-bottom: 4px;
    padding: 23px 40px;
    color: #000;
    width: 100%
}

.feedback__form-email{
  background-color: rgb(201, 201, 201);
}
.feedback__services {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.feedback__form-row {
  display: flex;
  margin-top: 48px;
}
.feedback__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 1px 10px 0 0;
}
.feedback__form-button{
  display: flex;
  flex: 1 1 auto;
}
.feedback__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.feedback__form-default:checked+.feedback__form-custom {
  background: url("../images/Icons/check.svg") 60% 44% no-repeat, #FF6433;
  border: 1px solid #FF6433;
}

.feedback__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #1E1B1B;
  border-radius: 3px;
  cursor: pointer;
}

.feedback__button{
  display: inline-block;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 12px;
  padding: 16px 40px;
}
.feedback__checkbox-desc{
  max-width: 285px;
    line-height: 130%;
}
.feedback__form-btn {
}
.feedback__conteant-2 {
  display: block;
  margin-top: 207px;
}
.feedback__connection {
  padding-bottom: 60px;
}
.feedback__details {
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: rgba(30, 27, 27, 0.603);
}
.feedback__location {
  white-space: nowrap; 
  font-style: normal;
  font-weight: 600;
font-size: 24px;
line-height: 150%;
}
.feedback__connection:last-child {
  padding-bottom: 0px;
}

/* ========================== */

#map {
  width: 100%;
  height: 400px;
}


.main__location {
}
.location {
}

.location__map {
  margin: 178px 0 -178px 0;
  padding-bottom: -150px;
}

.location__bg {
  min-height: 400px;
  background-image: url("../images/Pictures/Img.jpg") ;
  background-size: 100% 400px;
  background-repeat: repeat-x;
}

/* =================================== */
.main__picture {
}
.picture {
}

.picture__img {
}