html, body {
  font-size: 16px;
  font-family: Manrope, sans-serif;
  color: #1E1B1B;
  line-height: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
}

/* --------------------------header----------------------------------- */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header__top {
  margin-top: 35px;
  flex-wrap: nowrap;
}
.header__top-inner {
  display: flex;
  align-items: center;
}
.header__top-logo {
}
.logo {
  margin-right: 454.59px;
  transition: all .3s;
}
.logo:hover {
  transform: scale(1.05);
}
.header__inner {
  display: flex;
  margin-right: 32px;
}
.header__menu {
  margin-right: 40px;
  transition: all .3s;
}
.header__menu:last-child {
  margin-right: 0;
  padding-right: 0px;
}
.header__nav:hover {
  color: #FF6433;
}
.header__nav {
  color: #1E1B1B;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.header-inner {
}
.header__element {
  justify-content: center;
  border: 1px solid rgba(147, 145, 145, 0.303);
  height: 32px;
}
.header__inner-room {
}
.header__phone {
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}
.header__phone:hover {
  transform: scale(1.05);
}
.header__icons {
  padding: 18px 0 16px 0;
}
.icons {
  margin: 0 14px 0 15px;
}
.header__number {
  display: inline-block;
  justify-content: space-around;
  white-space: nowrap;
}
.header__text {
  height: 100%;
}
.text {
  color: rgba(30, 27, 27, 0.513);
}
.header__text-number {
  line-height: 28px;
  display: inline-block;
  justify-content: space-around;
  white-space: nowrap;
}
.number {
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%
}

/* ---------------------------header__body------------------------------------ */

.header__body {
  display: flex;
}

.header__content {
 margin-top: 162px;
}
.header__content-inner {
  display: block;
}
.header__inner-title {
}
.header__title {
  font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 84px;
}
.header__inner-button {
  display: inline-flex;
  align-items: center;
}
.header__content-buttons {
  padding-top: 32px;
  transition:all 0.3s;
}
.header__content-btn {
  border-radius: 12px;
  background-color: #FF6433;
  padding: 16px 40px;
  color: #FFFFFF;

}

.header__content-buttons:hover {
  transform: scale(1.03);
}

.header__inner-play {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  border-color: #FF6433;
  border-radius: 12px;
  margin-right: 8px;
  fill: none;
}
.header__play {
  display: inline-flex;
  margin-left: 17px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header__play:hover svg {
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 0 0px 8px rgba(184, 181, 181, 0.419);
}

.heador__svg {
  display: inline-flex;
  margin-right: 8px;
}
.header__btn-time {
}
.header__inner-time {
    display: inline-flex;
  margin: 40px 0 233px 0px;
}
.header__time {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 13px;
}
.header__inner-tims {
}
.header__inner-timetable {
  color: rgba(30, 27, 27, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}
.open {
  color: rgba(147, 145, 145, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header__content-2 {
  margin-left: 21px;
  margin-top:80px ;
}
.header__img {
  position: relative;
  width: 605px;
  height: 632px;
  background-image: url(../images/Pictures/Image.jpg);
  background-repeat: repeat-x;
  align-items: center;
}
.header__inner-time--btn {
}
.header__img-time {
  display: inline-flex;
}
.header__shell-time {
  display: inline-flex;
  position: absolute;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  width: 281.64px;
  height: 102px;
  margin-top: 81px;
  margin-left: -20px;
  border-radius: 59px;
  padding: 15px 198.4px 17px 13.93px;
  transition: 0.3s;
}

.header__shell-time:hover {
  box-shadow: 0 0 0px 10px rgba(184, 181, 181, 0.419);
}

.header__timme {
  width: 150px;
  background-color: #5CBA99;
  border-radius: 50%;
}

.timme{
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  flex-direction: wrap;
  margin-left: 17px;
  width: 37.77px;
  height: 64px;
  margin-right: 14px;
  font-weight: 600;
  font-size: 24px;
}

.timme-hr {
  text-align: center;
  margin-left: 2.99px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.header__text-description {
  display: flex;
  align-items: center;
  flex-direction: wrap;
}
.header__description {
  align-content: center;
  text-align: center;
  margin: 15px 0.36px 1px 14.41px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  width: 165px;
  height: 51px;
}
.header__inner-rateYo {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 450px;
}
.header__Effect-rateYo {
  position: absolute;
  background-color: #fff;
  width: 326px;
  height: 102px;
  border-radius: 59px;
  margin: 0px -20px 0px 299px;
  transition: 0.3s;
}

.header__Effect-rateYo:hover{
  box-shadow: 0 0 0px 10px rgba(184, 181, 181, 0.419);
}

.header__rateYo-rating {
  position: absolute;
  margin: 25px 150px 4px 38px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.header__rateYo-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: -10px;
}

.header-oYet{
  display: flex;
  margin-top: 30px;
  margin-left: 90px;
  justify-content: center;
}
/* ====================================main__about======================================*/
/* ====================================main__about======================================*/

.main{
}

.main__about {
  background-color: #f1f1f1;

  
}

.about_inner {
}
.about__heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 128px;
}
.about__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
margin-bottom: 8px;
}
.about__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
}
.about__service {
  display: grid;
  min-width: 1288px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 32px;
}
.about__items {
  background-color: #ffffff;
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 103px;
  margin-right: 8px;
  margin-bottom: 8px;
 

  transition: all .5s;
}

.about__items:hover {
  background-color: #FF6433;
  color: rgb(246, 239, 239);
}

.about__items:hover.about__items svg path {
  fill: #f8f8f8;
}

.about__icons {
}
.about__desc {
  display: flex;
  white-space: nowrap
}
.icons {
}
.about__Learn {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  margin-top: 32px;
  margin-bottom:128px ;
}
.about__Learn-about {
  display: flex;
  padding: 10px;
  width: 248px;
  transition: all 0.3s;
  border-radius: .7em;
}

.about__Learn-about:hover {
  background-color: #FF6433;
  color: rgb(248, 246, 246);
}

.about__Learn-about:hover.about__Learn-about svg path {
  fill: rgb(248, 246, 246);
}

.about__learn-text {
  margin-right: 16px;
}
.about__arrow {
  margin-top: 4px;
  justify-content: center;
  align-items: center;
}

/* ========================main__direction=================================== */
/* ========================main__direction=================================== */

.main__direction {
  background-color: #fdfbfb;
  margin:134px 0px 0px 0px ;
}
.direction {
}
.direction__content {
  margin-top: 134px;
  margin-right: 13px;
}
.direction__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.direction__follow-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #1E1B1B;
}
.direction__follow-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgb(30, 27, 27, 0.6);
  margin-right: 205px;
  margin-top: 16px;
}
.direction__buttons {
  margin-top: 32px;
  margin-bottom: 265px;
  transition: all 0.3s;
}
.buttons {
  border-radius: 12px;
  background-color: #FF6433;
  font-weight: 600;
  font-size: 18px;
  line-height: 17%;
  padding: 16px 40px;
  color: #FFFFFF;
}

.direction__buttons:hover {
  transform: scale(1.03);

}

.direction__content-2 {
  margin-top: 134px;
  
  display: flex;
  flex-direction: column;
  margin-right: 193px;
}
.direction__inner-2 {
display: flex;
  
}
.direction__number-sentence {
}
.direction__img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.direction__number {
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #FFFFFF;
}
.direction__line {
  display: flex;
  justify-content: center;
  margin: 22px 0px;
}
.direction__title-service {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 24px;
}

.service{
  margin-top: 13px;
}

.direction__service {
}
.direction__title {
  font-style: normal;
  white-space: nowrap;
font-weight: 700;
font-size: 32px;
line-height: 48px;
}
.direction__desc {
  display: flex;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: rgb(30, 27, 27, 0.6);
}

.desc {
  margin-bottom: 134px;
}

/* ===============================main__derection-link================================ */
/* ===============================main__derection-link================================ */


.main__derection-link {
  width: 100%;
  height: 502px;
  background-image: url(../images/Pictures/Group\ 9128.jpg);
  background-repeat: repeat-x;
}
.link {
  
}
.link__description-cta {
  background: #FF6433;
  width:729px 
}
.link__cta {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 502px;
  text-align: center;
  justify-content: center;
}
.link__service-title {
  color: #FFFFFF;
  flex-direction: wrap;
  text-align: left;
  padding: 0 60px;
  font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.link__contact-us {
  position:relative ;
  margin: 48px 0 128px 0;
  color: #FFFFFF;
  margin-left: 61px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  transition: all 0.3s;

}
.link__contact-us:hover {
  transform: scale(1.03);
}
.link__contact {
  border-radius: 12px;
  background: #1E1B1B;
  padding: 16px 40px;
  position: absolute;
  flex-wrap: nowrap;
  margin-bottom: 128px;
}

/* ========================main__derection-room========================== */
/* ========================main__derection-room========================== */

.main__derection-room {
  background-color: #fff;
}
.room__content {
  display: flex;
}
.room__number-1 {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-right: 186px;
}
.number-1 {
  justify-content: space-between;
  
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #661CE7;
}
.room__pro-desc {
  white-space: nowrap;

  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  opacity: 0.7;
}

/* ========================main__derection-brands========================== */
/* ========================main__derection-brands========================== */

.main__derection-brands {
  background-color:#E2E6E9;
}
.brands {
}

.brands__inner {
}
.brands__derection-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.brands__title {
  margin-top: 128px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  margin-bottom: 31px;
}
.brands__link-svg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  padding-bottom: 82px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 79px;
}
.brands__svg {
}
.logo1:hover.logo1 svg path{
  fill:#661CE7;
}
.logo2:hover.logo2 svg path{
  fill:#19c24c;
}
.logo3:hover.logo3 svg path{
  fill:#f306cc;
}
.logo4:hover.logo4 svg path{
  fill:#1ca3e7;
}
.logo5:hover.logo5 svg path{
  fill:#e7601c;
}
.logo6:hover.logo6 svg path{
  fill:#e79d1c;
}
.logo7:hover.logo7 svg path{
  fill:#b8e71c;
}
.logo8:hover.logo8 svg path{
  fill:#e71c1c;
}
.logo9:hover.logo9 svg path{
  fill:#1ce76d;
}
.logo10:hover.logo10 svg path{
  fill:#b1e71c;
}

/* ==========================main__derection-slider====================== */
/* ==========================main__derection-slider====================== */

.main__derection-slider {
}
.slider {
}

.slider__blog {
}
.slider__inner {
  margin-top: 120px;
  padding-bottom: 100px;
  display: flex;
    flex-direction: column;
}
.slider__body {
  display: flex;
  align-items: center;
}
.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
}
.slider__filter-box {
  display: flex; 
}
.slider__list-items {
}
.mix {
}
.slider__filter-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 48px 8px;
  background-color: transparent;
  transition: all .3s;
}

.slider__filter-btn:focus{
  color: #e7601c;
}
.slider__filter-btn:hover{
  color: #e7601c;
}

.slider__transition {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 64px;
}
.slider__last {
}
.slider__filter-btn--latest {
}
.slider__list-conteant {
  transition: all 1s;
}
.slider__list-conteant:hover {
  transform: scale(1.03);
  transition: all .3s;
  box-shadow: 10px 10px 5px rgb(97, 97, 97);
}
.slider__list-link {
  box-shadow: 10px 5px 5px red;
}
.slider__list-link:hover {
  box-shadow: 10px 5px 5px red;
}
.slider__imeg-box {
}
.slider__imeg {
}
.slider__posted {
  color: #939191;
  font-style: normal;
  font-weight: 600;
font-size: 16px;
line-height: 28px;
margin: 24px 0px 16px 0px ;
}
.slider__blog-list {
}
.slider__blog-link {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
margin-bottom: 16px;
}
.slider__desc {
}
.slider__list-desc {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.slider__filter-btn--popular {
}
.slider__block-car {
}
.slider__filter-btn--favorites {
}
.slider_imeg-box {
}
.imeg-box {
  width: 405px;
  height: 266px;
}
.slider__blog-desc {
}